
if ($('#product_description_<%= @product.id %>').hasClass("clicked")){
  $('#product_description_<%= @product.id %>').removeClass("clicked").addClass("hide");
} else {
  $('#product_description_<%= @product.id %>').addClass("clicked").removeClass("hide");
}

  $('#product_description_<%= @product.id %>').html("<p><%= @product.description %></p>")
